*{
    margin: 0;
    padding: 0;
   
}
body{
    background-color: #DFE9F5;
}
header{
    width: 100%;
    height: 100px;
    background-color: #001A5F;
    color: white;
    font-family: DejaVu Sans Mono, monospace;
}
h2{
    padding-top: 30px;
    text-align: center;
}
.conteudo{
    background-color: #DFE9F5;
    width: 100%;
    height: 475px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
form{
    margin-top: 50px;
}
.linha{
    font-family: Noto Sans, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 15px;
}
label{
    margin: 15px;
    
}
input{
    height: 35px;
    border-radius: 8px;
    border: 0.1px solid grey;
}
#input-nome{
    width: 500px;
}
#input-ch{

    width: 75px;
}
#input-semestre{
    width: 75px;
}
#input-id-prof{
    width: 75px;
}
#input-cadastrar{
    width: 15%;
    margin-right: 20px;
    font-family: ODidot, serif;
    font-size: 16px;
}
#btm-back{
    font-family: ODidot, serif;
    font-size: 16px;
    width: 15%;
    height: 35px;
    border-radius: 8px;
    border: 0.1px solid grey;
    margin-left: 20px;
}
.linha-final{
    margin-top: 30px;
    font-family: Noto Sans, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    text-align: center;
}
/* CSS - Altaluno*/
#form-alt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#btm-alt{
    width: 80px;
    margin-top: 40px;
    background-color: #001A5F;
    color: white;
}

/*CSS - listaaluno */
#table-lista{
    width: 100%;
    height: auto;
    align-items: center;
}
#table-linhaum{
    padding-top: 40px;
}
#btm-form{
    background-color: #370777;
    color: white;
    border-radius: 5px;
    border: none;
    width: 80px;
    height: 18px;
    font-weight: bold;
    font-family: Andale Mono, monospace;
}
.rodape{
    width: 100%;
    text-align: center;
}
.button3{
    margin-top: 30px;
    margin-left: 30px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 0.1px solid grey;
    background-color: #BBD2EC;
    font-weight: bold;
    font-family: Andale Mono, monospace;
}